<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="container-header">
            <h1>Formulario</h1>
        </div>
        <nav class="menu">
            <a class="link" href="#">Inicio</a>
            <a class="link" href="#">Formularios</a>
            <a class="link" href="#">Nosotros</a>
            <a class="link" href="#">Ayuda</a>
        </nav>
    </header>
    <form action="#" method="post">
        <div class="forms-grupos">
            <label><b>Name</b></label>
            <input type="text" name="name-label" id="nombre" placeholder="Ingrese su nombre" required>
        </div>

        <div class="forms-grupos">
            <label><b>Name</b></label>
            <input type="text" name="name-label" id="nombre" placeholder="Ingrese su nombre" required>
        </div>

        <div class="forms-grupos">
            <label><b>Email</b></label>
            <input type="email" name="email-label" id="mail" placeholder="Ingrese su correo" required>
        </div>

        <div class="forms-grupos">
            <label><b>Edad</b></label>
            <input type="number" name="number-label" id="edad" placeholder="Ingrese su edad" required min="15" max="99">
        </div>

        <div class="forms-grupos">
            <p><b>Describe tu rol</b></p>
            <label>
                <select name="usuario-opcion" id="select">
                    <option disabled selected value="Seleciona tu rol"></option>
                    <option value="estudiante">Estudiante</option>
                    <option value="profesor">Profesor</option>
                    <option value="trabajador">Trabajador</option>
                    <option value="directivo">Directivo</option>
                </select>
            </label>
        </div>

        <div class="forms-grupos">
            <p><b>Crees que es necesario aprender a programar?</b></p>

            <label>
                <input type="radio" name="opcion-user" id="definitivamente">
                <b>Definitivamente</b>
            </label>

            <label>
                <input type="radio" name="opcion-user" id="probablemente">
                <b>Probablemente</b>
            </label>

            <label>
                <input type="radio" name="opcion-user" id="no creo">
                <b>No creo</b>
            </label>
        </div>

        <div class="forms-grupos">
            <p><b>Cuál crees que es el mejor lenguaje para aprender a programar?</b></p>
            <select name="lenguaje-op" id="lenguaje">
                <option disabled selected value="Seleciona la opcion"></option>
                <option value="C++">C++</option>
                <option value="Java">Java</option>
                <option value="Python">Python</option>
                <option value="Java Script">Java Script</option>
                <option value="GO">Go</option>
            </select>
        </div>
        
    </form>
</body>
</html>