{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/primera.css' %}">
</head>
<body>
    <header class="header">
        <div class="container-header">
            <h1>Votación</h1>
        </div>
        <nav class="menu">
            <a class="link" href="#">Inicio</a>
            <a class="link" href="#">Formularios</a>
            <a class="link" href="#">Ayuda</a>
        </nav>
    </header>
    <form action="#" method="post">
        <div class="forms-grupos">
            <label><b>Radio de la zona</b></label>
            <input type="number" name="number-label" id="edad" placeholder="Ingresa radio" required min="5" max="80">
        </div>

        <div class="forms-grupos">
            <p><b>Describe la zona</b></p>
            <label>
                <select name="usuario-opcion" id="select">
                    <option disabled selected value="Seleciona tu rol"></option>
                    <option value="estudiante">Plaza</option>
                    <option value="profesor">Playa</option>
                    <option value="trabajador">Residencial</option>
                    <option value="directivo">Calles</option>
                </select>
            </label>
        </div>

        <div class="forms-grupos">
            <p><b>¿Qué tan sucio se encuentra el lugar?</b></p>

            <label>
                <input type="radio" name="opcion-user" id="definitivamente">
                <b>Bastante</b>
            </label>

            <label>
                <input type="radio" name="opcion-user" id="probablemente">
                <b>Mas o menos</b>
            </label>

            <label>
                <input type="radio" name="opcion-user" id="no creo">
                <b>No tanto</b>
            </label>
        </div>

        <div class="forms-grupos">
            <p><b>Agrega imágenes</b></p>

            <label>
                <input type="text" name="comment" id="comentarios" placeholder="Agrega imágenes...">
            </label>
        </div>

        <div class="button">
            <input type="submit" value="Enviar">
        </div>
    </form>
</body>
</html>